@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Delivery App!</h1>
   
    <h2><a asp-controller="Pedido" asp-action="Index">Escolha seu pedido</a></h2>

</div>
